<!DOCTYPE html>
<html lang="en">
<head>
<title>$title$</title>
<link rel="icon" type="image/x-icon" href="images/samuslogo.png" />
<style type="text/css">code{white-space: pre;}</style>
$for(css)$
<link rel="stylesheet" href="$css$">
$if(highlighting-css)$
<style type="text/css">
$highlighting-css$
</style>
$endif$
$endfor$
$if(math)$
$math$
$endif$
</head>

<body>
<div id="wrap" style="width:1050px">
<div id="container" style="width:760px">
<div class="entry">
$body$
</div>
</div>

<div id="sidebar">
<h1><img src="images/samuslogo.png" /> $title$</h1>
$if(toc)$
$toc$
$endif$
</div>
</div>
</body>
</html>
